/* app.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

/* Centered container */
center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

/* Header Style */
h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Form Styles */
form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 600px;
}

label {
  font-size: 1rem;
  color: #555;
}

select {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fafafa;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Result Component Styles */
.result {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 800px;
}

.result:nth-child(even) {
  background-color: #f9f9f9;
}

.result h2 {
  color: #333;
  font-size: 1.5rem;
  margin: 0;
}

.news {
	width: 90%;
}

.result p {
  color: #666;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.result a {
  color: #007bff;
  text-decoration: none;
}

.result a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  form {
    padding: 1rem;
  }

  input[type="submit"] {
    width: 100%;
    padding: 1rem;
  }
}
